@{
    Layout = "~/Areas/TiffinServices/Views/Shared/_Layout.cshtml";
    ViewBag.MetaTitle = "DashBoard";
    var IsCertificateAllow = ViewBag.IsCertificateAllow;
}
<div class="pcoded-main-container Design">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <p>Dashboard</p>
                <input type="hidden" id="IsCertificateAllow" value="@IsCertificateAllow" />
                <button id="DownloadPdf" onclick="DownloadPDF()">Certificate of customer Trust</button>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <script>
                        $(document).ready(function () {
                            showToastPortal('@ViewBag.MessageType', '', '@ViewBag.Message', 0);
                        });
                    </script>
                }
            </div>
        </div>
    </div>
</div>


<script>
    function DownloadPDF() {
        if ($("#IsCertificateAllow").val() == 'true' || $("#IsCertificateAllow").val() == 'True') {
            $.ajax({
                url: tiffinSiteURLPortal + "TiffinServicesDashboard/GetTiffinServicesCertificate",
                type: "POST",
                cache: false,
                async: false,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                //dataType: "json",
                data: {},
                success: function (result) {
                    if (result != "") {
                        if (result.IsFileGenerated == true) {
                            setTimeout(function () {
                                window.location = tiffinSiteURLPortal + 'downloadpdf?FileName=' + result.FileName;
                            }, 300);
                        }
                        else {
                            if (reportName == "Traceability Parent") {
                                ShowResultMessageByKey('Message.Report.NoDataFoundInParent');
                            }
                            if (reportName == "Traceability Child") {
                                ShowResultMessageByKey('Message.Report.NoDataFoundInChild');
                            }
                        }
                    }
                }
            });
        }
        else {
            showToastPortal('danger', '', 'You are not eligible for this certificate.', 5000);
        }
    }
</script>