@model EditTiffinServicesModel
@{
    ViewBag.MetaTitle = "Add Edit Tiffin Service Detail";
    Layout = "~/Areas/TiffinServices/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/jcrop/css/jquery.jcrop.css" rel="stylesheet" />
<script src="~/lib/jcrop/js/jquery.jcrop.js"></script>
<style>
    .information-header {
        font-weight: 800;
        font-size: 20px;
    }
</style>
@section scripts
    {
    <script type="text/javascript">
        function SetCoordinates(c, callId) {
            $('#editTiffinServicesForm #imgX1').val(c.x);
            $('#editTiffinServicesForm #imgY1').val(c.y);
            $('#editTiffinServicesForm #imgWidth').val(c.w);
            $('#editTiffinServicesForm #imgHeight').val(c.h);
        };

        $(document).ready(function () {
            var validator = $("#editTiffinServicesForm").data("validator");
            validator.settings.ignore = "";
            $("#TiffinServicesImageName").rules("remove", "required");

            $("#ImageName").rules("remove", "required");

            var ImageRoot = '/Images/TiffinServices/' + $('#TiffinServicesImageName').val();
            if ($("#TiffinServicesImageName").val() != "") {
                $("#Editimagelist1").html("").append("<img id='Image' src='' alt='' style='display: none' />");
                $(".AddImageList").hide();
                $('#editTiffinServicesForm #Image').show();
                $('#editTiffinServicesForm #Image').attr("src", ImageRoot);
                $('#editTiffinServicesForm #Image').Jcrop({
                    onChange: SetCoordinates,
                    onSelect: SetCoordinates,
                    boxWidth: 2000,
                    boxHeight: 300,
                    callId: 'Image'
                });
                $(".DeleteImageIcon").removeClass("hide");
                $("#dvImageName").hide();
                $("#delImage").attr("imageid", $("#TiffinServicesImageName").val());
            }

            if ($("#editTiffinServicesForm #FoodId").val() != "")//edit mode
            {
                $("#editTiffinServicesForm span.fileinput-new").addClass("filenew")
                if ($("#editTiffinServicesForm #TiffinServicesImageName").val() == "") {
                    $("#editTiffinServicesForm span.filenew").text("No File Choosen");
                }
                else {
                    $("#editTiffinServicesForm span.filenew").text($("#editTiffinServicesForm #ImageName").val())
                }
                FillImageName();
            }

            $("#delImage").click(function () {
                $("#ImageName").rules("add", {
                    required: true
                });
                $.ajax({
                    url: '@Url.Action("DeleteTiffinServicesImage", "Food")',
                    type: 'POST',
                    data: { "ImageName": $(this).attr("imageid") },
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data.Deleted == "1") {
                            $("#ImageName").val('');
                            $("#Editimagelist1").html("");
                            $("#Image").attr("src", "");
                            $("#delImage").addClass("hide");
                            $("#dvImageName").show();
                            $("#delImage").removeAttr("imageid");
                        }
                        else {
                            alert("Failed to delete the Image.");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            });
        });
        function changeCatalogFile($this) {
            var fname = $($this).val();
            switch (fname.substring(fname.lastIndexOf('.') + 1).toLowerCase()) {
                case 'jpeg': case 'jpg': case 'png':
                    break;

                default:
                    $($this).val("");
                    $("span.fileinput-new").text("No file chosen");
                    ShowResultMessageByKey('Only .Jpeg, .Jpg, .png file allow');
                    break;
            }
            if ('@Model.TiffinServicesID' != "0" && $("#TiffinServicesImageName").val() != "") {
                $("#Editimagelist1").html("").append("<img id='Image' src='' alt='' style='display: none' />");
            } else {
                $("#imagelist1").html("").append("<img id='Image' src='' alt='' style='display: none' />");
            }

            var reader = new FileReader()
            reader.onload = function (e) {
                $('#editTiffinServicesForm #Image').show();
                $('#editTiffinServicesForm #Image').attr("src", e.target.result);
                $('#editTiffinServicesForm #Image').Jcrop({
                    onChange: SetCoordinates,
                    onSelect: SetCoordinates,
                    boxWidth: 2000,
                    boxHeight: 300,
                    callId: 'Image'
                });
                $("#dvImageName").hide();
                $("#delImage").removeClass("hide");
                $(".DeleteImageIcon").removeClass("hide");
            }
            reader.readAsDataURL($("#ImageName")[0].files[0]);
        }
        function FillImageName() {
            $('#ImageName').siblings("span.filenew").text($('#ImageName').val())
        }



    </script>
}

<div class="pcoded-main-container add-cms-page proj-bg-color">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ fixed-menu ] start -->
                            <div class="col-sm-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h5>Change Tiffin Services Detail</h5>

                                        <div class="card-header-right">
                                            <div class="btn-group card-option">

                                                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="feather icon-more-horizontal"></i>
                                                </button>
                                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-item full-card"><a href="javascript:"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                                    <li class="dropdown-item minimize-card"><a href="javascript:"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                    <li class="dropdown-item close-card"><a href="javascript:"><i class="fas fa-eye-slash"></i> hide</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <form asp-action="ChangeTiffinServicesDetail" asp-controller="TiffinServicesFood" method="POST" id="editTiffinServicesForm" enctype="multipart/form-data" autocomplete="off">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" class="form-control" asp-for="TiffinServicesID">
                                            <h3 class="mb-4">Tiffin Services Information</h3>
                                            <div class="mb-3" id="error_area" style="display:none">
                                                <div asp-validation-summary="All"></div>
                                            </div>
                                            <div class="card-body text-center" style="padding:25px;">
                                                <span class="information-header">Basic Details</span>

                                                <div class="form-group row">
                                                    <label class="col-sm-2">Owner's Name<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" asp-for="OwnerName">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="OwnerName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2">Tiffin Services Name<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" asp-for="TiffinServicesName">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="TiffinServicesName" class="text-danger"></span>
                                                        </div>
                                                        <span style="float: left;">Note :This is the name customers will see.</span>
                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                            </div>
                                            <div class="card-body text-center" style="padding:25px;">

                                                <span class="information-header">Owner Contact Details</span><br />
                                                <span class="header-additional-information">To get updates on payments, customer complaints, order acceptance, etc</span>

                                                <div class="form-group row">
                                                    <label class="col-sm-2">Mobile Number<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        @if (ViewBag.IsReadOnlyClass != "")
                                                        {
                                                            <input type="text" class="form-control" asp-for="MobileNo" readonly="readonly">
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" asp-for="MobileNo">
                                                        }
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2">Mobile Number<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        @if (ViewBag.IsReadOnlyClass != "")
                                                        {
                                                            <input type="text" class="form-control" asp-for="Email" readonly="readonly">
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" asp-for="Email">
                                                        }

                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                            </div>
                                            <div class="card-body text-center" style="padding:25px;">

                                                <span class="information-header">Address Details</span><br />
                                                <span class="header-additional-information">Provide accurate details to ensure timely delivery of food to your customers</span>

                                                <div class="form-group row">
                                                    <label class="col-sm-2">Mobile Number<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" asp-for="ShopPlotNumber">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="ShopPlotNumber" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2">Floor<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" asp-for="Floor">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="Floor" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2">Building Name<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" asp-for="BuildingName">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="BuildingName" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2"> Zipcode<span style="color: red">*</span></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" asp-for="ZipCode">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                            </div>
                                            <div class="card-body text-center" style="padding:25px;">

                                                <div class="form-group row">
                                                    <input type="hidden" asp-for="TiffinServicesImageName" />
                                                    <label class="col-sm-2">Image<span style="color: red">*</span></label>
                                                    <div class="col-sm-8" id="dvImageName">
                                                        <span style="color:#DC3545">Note*: Image size should be <b>395px X 180px</b> (width x height). &nbsp; Only <b>.jpg,.jpeg,.png</b> file types.</span><br />
                                                        <input type="file" asp-for="ImageName" class="form-control field-input" multiple="multiple" onchange="changeCatalogFile(this);" accept="image/*">
                                                        <div class="input-group error-font-size">
                                                            <span asp-validation-for="ImageName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 hide DeleteImageIcon">
                                                        <div class="col-sm-8 form-group" id="Editimagelist1">
                                                        </div>
                                                        <div id="delImage" class="delImage"><i class="fas fa-trash-alt"></i></div>
                                                    </div>
                                                    <span class="AddImageList">
                                                        <label class="col-sm-2"></label>
                                                        <label class="col-sm-2"></label>
                                                        <div class="col-sm-8 form-group" id="imagelist1">
                                                        </div>
                                                    </span>

                                                    <input type="hidden" asp-for="imgX1" />
                                                    <input type="hidden" asp-for="imgY1" />
                                                    <input type="hidden" asp-for="imgWidth" />
                                                    <input type="hidden" asp-for="imgHeight" />

                                                </div>

                                                <div>
                                                    <button type="submit" id="btnTiffinServicesRegistration" class="btn btn-primary shadow-2 mb-4"><i class="fas fa-spinner fa-pulse hide"></i>Proceed</button>
                                                </div>
                                            </div>



                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- [ fixed-menu ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
